.menu-overlay {
  position: fixed;
  top: 0;
  right: -50%;
  width: 100%;
  height: 100%;
  background:rgba(128, 0, 128, 0.4);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
  padding: 20px;
   transition: right 0.8s ease;
}
.menu-overlay.active {
  right: 0;
}

.menu-list {
 list-style: none;
  padding: 0;
  margin: 0;
  text-align: left; /* текст прижат влево */
  width: 100%; /* занимает всю ширину контейнера */
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
  font-weight: normal;
}

.menu-list li {
  margin: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.menu-list li:hover {
  color: #ff6f61;
}
