h2 {
    text-align: left;
    padding: 2rem;
    margin-left: 10%;
    font-family: "Great Vibes", cursive;
    font-size: 3rem;
    color: var(--color-purple);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
