.section-one {
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  margin: var(--header-height) auto 0;
  background-color: #fef7ff;
}

.hero-box {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-name {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: #9b30ff;
  text-shadow: 0 0 20px rgba(138, 43, 226, 0.7);
  line-height: 1.3;
  font-family: "Great Vibes", cursive;
  text-align: center;
}
.title-name.outer {
  display: block;
}
.title-name.inner {
  display: none;
}

.catalog-button {
  background: linear-gradient(45deg, #8a2be2, #da70d6);
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(138, 43, 226, 0.4);
  margin-bottom: 50px;
}

.catalog-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(138, 43, 226, 0.6);
  background: linear-gradient(45deg, #9b30ff, #ee82ee);
}

.catalog-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 20px;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); */
  filter: brightness(1.1) contrast(1.1);
}

.cakes {
  font-family: "Great Vibes", cursive;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .section-one {
    padding: 40px 15px;
  }

  .title-name {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .catalog-button {
    padding: 12px 30px;
    font-size: 1.1rem;
    margin-bottom: 40px;
  }

  .catalog-img {
    max-width: 300px;
  }
}

@media (max-width: 480px) {
  .title-name {
    font-size: 2rem;
  }

  .catalog-button {
    padding: 10px 25px;
    font-size: 1rem;
  }

  .catalog-img {
    max-width: 250px;
  }
}
@media (min-width: 768px) {
  .hero-box {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .title-name.outer {
    display: none;
  }
  .title-name.inner {
    display: block;
  }
}
