.footer {
  background-color: var( --color-purple);
  color: #ffffff;                  /* Белый текст */
  padding: 20px 10px;              /* Внутренние отступы */
  display: flex;                   /* Горизонтальное расположение элементов */
  justify-content: center;         /* Центровка по горизонтали */
  align-items: center;             /* Центровка по вертикали */
  gap: 20px;                       /* Расстояние между ссылками */
  flex-wrap: wrap;                 /* Перенос на мобильных */
  text-align: center;
  font-family: "Inter", sans-serif;
}

.phone-number {
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.3s ease;
   font-family: "Great Vibes", cursive;
  font-size: 1.2rem;
}

.phone-number:hover {
  color: #ffd166;   
  text-decoration: none;
}

.instagram img {
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.instagram img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }

  .phone-number {
    font-size: 14px;
  }
}
